.promo__title {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  padding: 0px;
  max-width: 640px;
  margin: 0px;
  text-align: left;
  letter-spacing: 3px;
}

.promo {
  max-width: 1280px;
  min-height: 574px;
  background: #073042;
  border: 1px solid #073042;
}

.promo__paragraph {
  max-width: 310px;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin: 36px 0px 0px 0px;
}

.promo__button {
  color: white;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  margin: 146px 0px 0px 0px;
  background: none;
  display: block;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 10px 20px;
}

.promo__container {
  margin: 75px 75px 0px 75px;
  background: url("../Icons/text__COLOR_landing-logo.svg") no-repeat;
  background-position: top right;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .promo__title {
    color: #fff;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    letter-spacing: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    max-width: 680px;
    max-height: 100px;
  }

  .promo__container {
    background: url("../Icons/text__COLOR_landing-logo.svg") no-repeat;
    background-position: top center;
    margin: 135px 75px 0px 75px;
    padding-top: 355px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo__paragraph {
    text-align: center;
    margin-top: 22px;
    letter-spacing: 0;
    max-width: 260px;
  }

  .promo__button {
    margin-top: 95px;
    margin-bottom: 78px;
    padding: 8px 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .promo__title {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 126.667% */
    letter-spacing: -1.2px;
  }
  .promo__paragraph {
    color: #fff;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 30px;
    margin-top: 20px;
  }
  .promo__container {
    margin: 0px;
    background-size: 210px 210px;
    background-position: top center;
    padding-top: 250px;
    margin-top: 70px;
  }
  .promo__button {
    padding: 8px 13px;
    margin: auto;
    margin-top: 83px;
    margin-bottom: 30px;
  }
}
