.portfolio {
  margin-top: 50px;
  margin: 101px 70px 125px 70px;
}

.portfolio__container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 99.5%;
}

.portfolio__item {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: -1.2px;
  background: url("../Icons/text__COLOR_font-main.svg") no-repeat;
  margin: 0px;
  background-position: 100% 40%;
  padding-bottom: 19px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__title {
  color: #a0a0a0;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .portfolio {
    margin: 90px 50px 130px 50px;
  }

  .portfolio__item {
    color: #000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 178.571% */
    letter-spacing: -1.12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio {
    margin: 70px 15px 0px 15px;
  }
  .portfolio__title {
    color: #a0a0a0;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-bottom: 40px;
  }

  .portfolio__item {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.72px;
    background-size: 10px 10px;
    background-position: right 5px;
  }
}
