.aboutproject {
  max-width: 1280px;
  max-height: 608px;
  display: flex;
}

.aboutproject__container {
  padding-top: 110px;
  margin: 0px 70px 0px 70px;
  width: 100%;
}

.aboutproject__title {
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid black;
  padding-bottom: 23px;
}

.aboutproject__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 24px 40px;
  row-gap: 26px;
  column-gap: 40px;
  margin-top: 70px;
  margin-bottom: 110px;
}

.aboutproject__grid-title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0px;
  padding: 0px;
}

.aboutproject__grid-paragraph {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin: 0px;
  padding: 0px;
}

.aboutproject__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  row-gap: 14px;
  margin-bottom: 110px;
}

.aboutproject__flex-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aboutproject__flex-text-one {
  width: 20%;
  background: #2be080;
}

.aboutproject__flex-text-two {
  width: 80%;
  background: #f2f2f2;
}

.aboutproject__flex-text-three {
  width: 20%;
  height: 17px;
  color: #a0a0a0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 121.429% */
}

.aboutproject__flex-text-four {
  width: 80%;
  color: #a0a0a0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 121.429% */
  height: 17px;
}

@media screen and (min-width: 328px) and (max-width: 768px) {
  .aboutproject__container {
    margin: 0px 50px;
    padding-top: 89px;
  }

  .aboutproject__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 24px 40px;
    row-gap: 44px;
    column-gap: 30px;
    margin-top: 70px;
    margin-bottom: 110px;
  }

  .aboutproject__grid-paragraph {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .aboutproject__container {
    margin: 0px;
    margin-top: 75px;
    padding: 0px 18px;
  }

  .aboutproject__title {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  .aboutproject__grid-title {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  .aboutproject__grid-paragraph {
    color: #000;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
    margin-top: 17px;
  }

  .aboutproject__grid {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    margin-top: 60px;
    row-gap: 60px;
    margin-bottom: 55px;
  }

  .aboutproject__flex-text-one {
    width: 35%;
  }
  .aboutproject__flex-text-two {
    width: 65%;
  }

  .aboutproject__flex-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .aboutproject__flex-text-three {
    width: 35%;
    color: #a0a0a0;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .aboutproject__flex-text-four {
    width: 65%;
    color: #a0a0a0;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
