.navlinks {
  width: 100%;
}

.navlinks__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 16px;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}

.navlinks__list > li:last-child {
  margin-left: 31.8%;
}

.navlinks__link_type_profile {
  padding: 9.5px 36px 9.5px 11px;
  border-radius: 40px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  background: url(../../Icons/profile-icon.svg) no-repeat #2be080;
  background-position: right 4px top 4px;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.navlinks__link {
  text-decoration: none;
  color: #fff;
}

.navlinks__link_type_films {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .navlinks__list {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    gap: 28px;
  }

  .navlinks__link {
    color: #000;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .navlinks__link:active {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }

  .navlinks__link:nth-last-child(1) {
    margin-top: 370px;
    margin-bottom: 90px;
  }

  .navlinks__list > li:last-child {
    margin-left: 0px;
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 92.308% */
  }

  .navlinks__link_type_profile {
    padding: 10px 36px 9.5px 12px;
    background-size: 28px 28px;
    border-radius: 40px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    background: url(../../Icons/profile-icon.svg) no-repeat #fff;
    background-position: right 6px top 8px;
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 92.308% */
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navlinks__list {
    display: flex;
    flex-direction: column;
    padding-top: 145px;
    gap: 22px;
  }

  .navlinks__link {
    color: #000;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .navlinks__link:active {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }

  .navlinks__item:nth-last-child(1) {
    margin-top: 430px;
  }

  .navlinks__list > li:last-child {
    margin-left: 0px;
  }

  .navlinks__link_type_profile {
    padding: 10px 36px 9.5px 12px;
    background-size: 28px 28px;
    border-radius: 40px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    background: url(../../Icons/profile-icon.svg) no-repeat #fff;
    background-position: right 5px top 5px;
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 92.308% */
    margin-top: 430px;
  }

  .navlinks__link_type_films {
  }
}
