.logo {
  background: url(../Icons/logo.svg) no-repeat;
  width: 39.5px;
  height: 39px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.logo:hover {
  opacity: 0.6;
}
