.error__title {
  color: #000;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  margin-top: 246px;
}

.error {
  text-align: center;
}

.error__text {
  margin: 0px;
  margin-top: 5px;
  color: #000;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error__button {
  margin: 0px;
  margin-top: 184px;
  color: #3456f3;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: none;
  cursor: pointer;
}

.error__link {
  text-decoration: none;
  color: #3456f3;
  transition: opacity 0.5s linear;
}

.error__link:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .error__title {
    margin-top: 408px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .error__title {
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 330px;
  }

  .error__text {
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
  }

  .error__button {
    margin-top: 285px;
    color: #3456f3;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
